**Verification is an manual process where the user checks that the entered information is correct**

This can be done via double keying or proof reading